
#contacts {
  background-image: url(../../image/5.jpg);
  background-size: cover;
  text-align: center;
  & > .container {
    background-color: #ffffff91;
    color: black;
  }
  .icons {
    text-align: end;
    font-size: 3rem;
    .icon {
      height: 48px;
width: 48px;
    }
  }
  .icon {
    height: 50px;
    img {
      height: 100%;
    }
  }
  h2 {
    margin-bottom: 20px;
    font-size: 5rem;
    text-transform: uppercase;
    font-family: "Philosopher", sans-serif;
  }
  h3 {
    color: black;
    font-weight: 400;
    padding: 5px 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    line-height: 1.125;
    font-size: 3rem;
  }
  a.contact-btn {
    margin: 20px auto 0 auto;
    display: block;
    border-radius: 30px;
    background: #000000b3;
    text-align: center;
    color: white;
    border: none;
    padding: 6px 18px;
    cursor: pointer;
    width: 75%;
    font-size: 1.2rem;
    letter-spacing: 5px;
    transition: all 0.3s ease-in;
    &:hover {
      color: #c30d2c;
      background-color: #00000024;
    }
  }
  p {
    margin-bottom: 5px;
    font-family: "Philosopher", sans-serif;
    font-size: 1.5rem;
  }
  .icons .icon {
    margin-left: 15px;
    font-size: 3rem;
    color: red;
  }
  .column:last-of-type a.contact-btn:last-of-type {
    display: none;
  }
  @include mobile {
    text-align: center !important;
    background-image: none;
    a.contact-btn {
      margin: 20px auto !important;
      letter-spacing: 2px !important;
      display: none !important;
      letter-spacing: 0;
    }
    h2 {
      font-size: 1.9rem;
      margin-bottom: 40px;
    }
    h3 {
      font-size: 1rem !important;
      letter-spacing: 0;
    }
    columns column:nth-child(3) a {
      display: block !important;
    }
    .columns .column:nth-child(3) a.contact-btn:last-of-type,
    .columns .column:nth-child(3) a.contact-btn:first-of-type {
      display: block !important;
    }
  }
  @include tablet-only {
    h2 {
      font-size: 2.5rem;
      margin-bottom: 40px;
    }
  }
  @include touch {
    text-align: center !important;
    h3 {
      font-size: 2rem !important;
      letter-spacing: 0;
    }
    a.contact-btn {
      margin: 20px auto !important;
      letter-spacing: 2px !important;
      letter-spacing: 0;
    }
  }
  @include mobile {
    padding: 3rem 0!important;
    .column .icon img {
      width: 24px!important;
    }
    h3 {
      font-size: 1rem !important;
    }
  }
}