* {
  max-width: 100vw;
  margin: 0;
  padding: 0;
}

/* Not mobile */
@media screen and (min-width: 769px) {
  .column.with-height {
    padding-top: 50%;
  }
  #main .with-height {
    padding-top: 46%;
  }
  .google-maps {
    max-width: 70vw !important;
    padding-bottom: 40% !important;
  }
  #tours > h2 {
    max-width: 70vw !important;
    font-size: 4rem !important;
    letter-spacing: 20px;
  }
}

/* Navbar */
.navbar {
  background:transparent;
}

.navbar .navbar-item {
  color: white;
}

/* section 2 */

.google-maps {
  position: relative;
  padding-bottom: 75%; /* This is the aspect ratio */
  height: 0;
  overflow: hidden;
  max-width: 80vw;
  margin: 0 auto;
}
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

#tours > h2 {
  text-transform: uppercase;
  background: #000000a6;
  color: #dedb1b;
  max-width: 80vw;
  margin: 0 auto;
  text-align: center;
  font-size: 2.5rem;
  letter-spacing: 20px;
}

/* Section 3-4 */

/* 25% for 4 in a row and 46% for 2 in a row */
.column.with-height {
  padding-top: 46%;
  position: relative;
  background-position: center;
}

.column {
  background-size: cover;
  width: 100%;
}

#main .with-height {
  padding-top: 46%;
}

.is-tablet-reverse {
  flex-direction: row-reverse;
}

#services {
  margin: 11px 0;
  background-position: top right 150px;
  background-repeat-x: no-repeat;
  background-repeat: repeat-y;
}

.columns {
  overflow: hidden;
}

.column.is-half {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}

h3 {
  color: #755b5b;
  font-weight: 400;
  padding: 5px 10px;
  background: #ffffffab;
  letter-spacing: 10px;
  border-radius: 10px;
}

#services img {
  z-index: -1;
  position: absolute;
  width: 100%;
}

h3 {
  color: #755b5b;
  font-weight: 400;
  padding: 5px 10px;
  background: #ffffffab;
  letter-spacing: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  line-height: 1.125;
  font-size: 2rem;
}

/* Slogan */

#slogan {
  background-color: #0000007a;
}

#slogan h2 {
  color: gold;
  font-size: 8rem;
  text-align: center;
  letter-spacing: 5px;
}

/* Section 5 */

#spectialists img {
  border-radius: 50%;
  border: 20px solid;
}

#spectialists {
  background-position: top right 150px;
  background-repeat-x: no-repeat;
  background-repeat: repeat-y;
}

#spectialists > h2 {
  text-transform: uppercase;
  background: #000000a6;
  color: #dedb1b;
  max-width: 80vw;
  margin: 0 auto;
  text-align: center;
  font-size: 2.5rem;
  letter-spacing: 20px;
}

#spectialists .content {
  text-align: center;
}

#spectialists p {
  text-align: left;
}

/* Section 9 */

#appointment {
  color: white;
}

