* {
  max-width: 100vw;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}
.columns {
  margin-bottom: 0!important;
  margin-top: 0!important;
  margin-right: 0px!important;
  margin-left: 0px!important;
}
/* Mobile */
@media screen and (max-width: 768px) {
  #hero {
    height: 454px!important;
    background-image: url(image/Mobile_Maximum.jpg)!important; 
    background-position: center;
  }
  #tours {
    background-image: url(image/Mobile-Maximum_2.jpg)!important;
    background-position: top center;
  }
  #contacts a {
    margin: 20px auto !important;
    letter-spacing: 2px !important;
    display: none !important;
    letter-spacing: 0;
  }
  #contacts h2 {
    font-size: 1.9rem !important;
    margin-bottom: 40px !important;
  }
  #contacts h3 {
    font-size: 1rem !important;
    letter-spacing: 0;
  }
  #reviews .column.is-3 {
    text-align: center;
  }
  #reviews p {
    max-width: 80%;
    margin: 0 auto;
  }
  #reviews h4 {
    max-width: 60%;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    font-weight: 400;
  }
  #reviews img {
    max-width: 70%;
  }
  #specialists img {
    max-width: 60% !important;
  }
  #specialists h3 {
    margin-bottom: 30px;
    letter-spacing: 0;
  }
  #specialists h4 {
    text-align: left;
    margin-bottom: 5px;
  }
  #specialists p {
    font-family: "Philosopher", sans-serif;
  }
  #specialists .content {
    max-width: 90%;
    margin: 0 auto;
  }
  #slogan h2 {
    font-size: 2rem !important;
    letter-spacing: 0 !important;
  }
}
@media screen and (max-width: 1299px) {
  #hero {
    height: 769px;
    background-image: url(image/Tab_Maximum.jpg); 
    background-position: center;
  }
  #tours {
    background-image: url(image/Tab-Maximum_2.jpg);
    background-position: top center;
  }
}
@media screen and (min-width: 1300px) {
  #hero {
    height: 1134px;
    background-image: url(image/Web_1920–1.jpg); 
    background-position: center;
  }
  #tours {
    background-image: url(image/Web-1920-–-2.jpg);
    background-position: top center;
  }
}

/* Not mobile */
@media screen and (min-width: 769px) {
  .column.with-height {
    padding-top: 50%;
  }
  #main .with-height {
    padding-top: 46%;
  }
  .tour {
    max-width: 70vw !important;
    padding-bottom: 40% !important;
  }
  #tours > h2 {
    max-width: 70vw !important;
    font-size: 4rem !important;
    letter-spacing: 20px;
  }
  #reviews p {
    margin-bottom: 20px;
  }
  #reviews h2 {
    margin-bottom: 30px;
  }
}

/* Desktop */
@media screen and (min-width: 1024px) {
  #appointment button {
    float: right;
  }
}

/* Screen */
@media screen and (max-width: 1023px) {
  #contacts {
    text-align: center !important;
  }
  #contacts h2 {
    font-size: 2.5rem !important;
    margin-bottom: 40px !important;
  }
  #contacts h3 {
    font-size: 2rem !important;
    letter-spacing: 0;
  }
  #contacts a {
    margin: 20px auto !important;
    letter-spacing: 2px !important;
    display: block !important;
    letter-spacing: 0;
  }
  #contacts columns column:nth-child(3) a {
    display: block !important;
  }
  #appointment h2 {
    font-size: 2rem !important;
  }
  #reviews h2 {
    margin-bottom: 30px;
    text-align: center;
  }
  #specialists img {
    max-width: 80%;
  }
  #specialists h3 {
    margin-bottom: 30px;
    letter-spacing: 0;
  }
  #specialists h4 {
    text-align: left;
    margin-bottom: 5px;
  }
  #specialists p {
    font-family: "Philosopher", sans-serif;
  }
  #specialists .content {
    max-width: 90%;
    margin: 0 auto;
  }
  #specialists {
    background-image: none !important;
  }
  #slogan h2 {
    font-size: 3rem !important;
  }
}

@media screen and (max-width: 768px) {
  #contacts {
    text-align: center !important;
  }
  #contacts h2 {
    font-size: 1.9rem !important;
    margin-bottom: 40px !important;
  }
  #contacts h3 {
    font-size: 1rem !important;
    letter-spacing: 0;
  }
  #contacts a {
    margin: 20px auto !important;
    letter-spacing: 2px !important;
    display: none !important;
  }
  #contacts columns column:nth-child(3) a {
    display: block !important;
  }
}

/* Navbar */
.navbar {
  background: transparent;
}

.navbar .navbar-item {
  color: white;
}

/* section 2 */

.tour {
  position: relative;
  padding-bottom: 75%; /* This is the aspect ratio */
  height: 0;
  overflow: hidden;
  max-width: 80vw;
  margin: 0 auto;
}
#tours {
  padding-top: 0;
}
#tours img {
  cursor: pointer;
}

.tour iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  display: none;
}

#tours > h2 {
  text-transform: uppercase;
  background: #000000a6;
  color: #dedb1b;
  max-width: 80vw;
  margin: 0 auto;
  text-align: center;
  font-size: 2.5rem;
  letter-spacing: 20px;
}

/* Section 3-4 */

/* 25% for 4 in a row and 46% for 2 in a row */

#main img {
  z-index: 1;
  padding: 0;
  width: 100%;
}

#main h2 {
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 40%;
  max-width: 90%;
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
  color: inherit;
  background: #3a3a3a7a;
  border-radius: 15px;
}

#main a {
  color: white;
}

#main .column:hover + .column {
  filter: brightness(0.5) !important;
  color: transparent !important;
}

#main .column {
  filter: brightness(1);
  color: white;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

#main:hover .column {
  filter: brightness(0.5);
  color: transparent;
}

#main .column:hover,
#main .column:hover ~ .column {
  filter: brightness(1);
  color: white;
}

#main .column {
  padding: 0;
  position: relative;
}

.column.with-height {
  padding-top: 46%;
  position: relative;
  background-position: center;
}

.column {
  background-size: cover;
  width: 100%;
}

#main .with-height {
  padding-top: 46%;
}

.is-tablet-reverse {
  flex-direction: row-reverse;
}

#services {
  margin: 0;
  background-position: top right 150px;
  background-repeat-x: no-repeat;
  background-repeat: repeat-y;
  margin-top: -6.5px;
}

.columns {
  overflow: hidden;
}

.column.is-half {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}

h3 {
  color: #755b5b;
  font-weight: 400;
  padding: 5px 10px;
  background: #ffffffab;
  letter-spacing: 10px;
  border-radius: 10px;
}

#services img {
  z-index: -1;
  position: relative;
  width: 100%;
}

#services h3 {
  color: #755b5b;
  font-weight: 400;
  padding: 5px 10px;
  background: #ffffffab;
  letter-spacing: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  line-height: 1.125;
  font-size: 2rem;
  position: absolute;
}

/* Slogan */

#slogan {
  text-align: center;
  background-color: rgba(0, 0, 0, 42%);
}

#slogan h2 {
  color: gold;
  font-size: 5rem;
  /* letter-spacing: 5px; */
  background: -webkit-linear-gradient(left, #eee, rgb(173, 0, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 40px;
}
#slogan a {
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.36);
  color: white;
  padding: 6px 18px;
  cursor: pointer;
  width: 75%;
  font-size: 1.2rem;
  letter-spacing: 5px;
  transition: all 0.5s ease-in;
  text-align: center;
}
#slogan a:hover {
  color: #c30d2c;
  background-color: white;
}

/* Section 5 */

#specialists img {
  border-radius: 50%;
  border: 20px solid;
}

#specialists {
  background-position: top right 150px;
  background-repeat-x: no-repeat;
  background-repeat: repeat-y;
}

#specialists > h2 {
}

#specialists .content {
  text-align: center;
}

#specialists p {
  text-align: left;
}

/* Appointment */

#appointment .container {
  padding: 20px;
  background: #0000005c;
  border-radius: 20px;
}

#appointment h2 {
  color: #cacccb;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 4rem;
  margin-bottom: 30px;
}

#appointment .label,
.field-label {
  color: #cacac8;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.2rem;
}

#appointment .field-label {
  text-align: left;
  margin-bottom: 0.5em;
}

#appointment input {
  background: none;
  border: none;
  box-shadow: none;
  border-bottom: 2px solid white;
  color: white;
}

#appointment input::placeholder {
  color: rgb(180, 180, 180);
}

#appointment select {
  background: none;
  color: white;
  font-weight: 500;
  border: none;
  border-bottom: 2px solid white;
  box-shadow: none;
}

#appointment .select::after {
  border-color: white;
  -webkit-transform: rotate(-140deg);
  transform: rotate(-140deg);
}

#appointment button {
  font-size: 2rem;
  margin-top: 40px;
  border-radius: 30px;
  letter-spacing: 10px;
  background: #0000005c;
  color: #cacac8;
  border: none;
  padding: 6px 18px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

#appointment option {
  background: black;
}

#appointment button:hover {
  color: red;
  background: #00000096;
}

#appointment .button.is-static {
  background: transparent;
  color: white;
  border-width: 2px;
}
#appointment {
  color: white;
}

/* Contacts 9 */

#contacts h2 {
  margin-bottom: 20px;
  font-size: 5rem;
  text-transform: uppercase;
}

#contacts h3 {
  color: #755b5b;
  font-weight: 400;
  padding: 5px 10px;
  background: #ffffffab;
  border-radius: 10px;
  margin-bottom: 10px;
  line-height: 1.125;
  font-size: 3rem;
}

#contacts .icon {
  font-size: 3rem;
  color: red;
}

#contacts a {
  display: block;
  margin-top: 20px;
  border-radius: 30px;
  background: #0000005c;
  color: white;
  border: none;
  padding: 6px 18px;
  cursor: pointer;
  width: 75%;
  font-size: 1.2rem;
  letter-spacing: 5px;
  transition: all 0.3s ease-in;
}

#contacts a:hover {
  color: #c30d2c;
  background-color: #00000024;
}

#contacts p {
  margin-bottom: 5px;
  font-family: "Philosopher", sans-serif;
}

#contacts .icons .icon {
  margin-left: 15px;
}

/* #contacts {
  background-image: url(image/Fifth-screen.jpg);
} */

#reviews h2,
#specialists h2 {
  font-size: 3rem;
  color: #434d56;
  text-align: center;
}

#specialists h2 {
  margin-bottom: 20px;
}

#specialists h3 {
  border-radius: 100px;
}

/* Services style and mechanics */

#services .flex-reverse {
  flex-direction: row-reverse;
}
#services .columns {
  position: relative;
}
#services input {
  display: none;
}
#services .column {
  overflow: auto;
  padding: 0;
  z-index: 1;
}
/* Style container */
#services .controls {
  position: absolute;
  left: 35%;
  bottom: 5%;
  z-index: 2;
  transition: left 0.3s ease-out;
}
#services .flex-reverse .controls {
  left: 50%;
}
/* Style content */
#services .serv-content {
  display: none;
  position: absolute;
  top: 0;    
  margin-left: 20px;
  margin-top: 10px;
}
/* Style buttons */
#services .controls label {
  display: block;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.36);
  color: white;
  border: none;
  padding: 6px 18px;
  cursor: pointer;
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-align: center;
}
/* Style container when any is active */
#services input.log-ctrl:checked ~ .controls {
  left: 48%;
}
#services .flex-reverse input.log-ctrl:checked ~ .controls {
  left: 33%;
}
/* Style content container when any is active */
#services input.log-ctrl:checked ~ .column:nth-of-type(2) {
  background-color: #ffffffcf;
}
/* Style buttons when any is active */
#services input.log-ctrl:checked ~ .controls label {
  background-color: rgb(92, 91, 91)
}
/* Style active button */
#services [id^="desc"]:checked ~ .controls [for^="desc"],
#services [id^="price"]:checked ~ .controls [for^="price"] {
  background-color: red;
}
/* Functionality */
#desc1:checked ~ .column #desc-content1,#price1:checked ~ .column #price-content1,#desc2:checked ~ .column #desc-content2,#price2:checked ~ .column #price-content2,#desc3:checked ~ .column #desc-content3,#price3:checked ~ .column #price-content3,#desc4:checked ~ .column #desc-content4,#price4:checked ~ .column #price-content4,#desc5:checked ~ .column #desc-content5,#price5:checked ~ .column #price-content5,#desc6:checked ~ .column #desc-content6,#price6:checked ~ .column #price-content6,#desc7:checked ~ .column #desc-content7,#price7:checked ~ .column #price-content7,#desc8:checked ~ .column #desc-content8,#price8:checked ~ .column #price-content8,#desc9:checked ~ .column #desc-content9,#price9:checked ~ .column #price-content9,#desc10:checked ~ .column #desc-content10,#price10:checked ~ .column #price-content10,#desc11:checked ~ .column #desc-content11,#price11:checked ~ .column #price-content11,#desc12:checked ~ .column #desc-content12,#price12:checked ~ .column #price-content12,#desc13:checked ~ .column #desc-content13,#price13:checked ~ .column #price-content13,#desc14:checked ~ .column #desc-content14,#price14:checked ~ .column #price-content14,#desc15:checked ~ .column #desc-content15,#price15:checked ~ .column #price-content15,#desc16:checked ~ .column #desc-content16,#price16:checked ~ .column #price-content16 {
  display: block;
}

span.icon {
  width: 38px;
}
